/*定义全局css*/
body {
	/* 1 全局公共主颜色 */
	--publicMainColor: #5aa7a7;
	/* 1 全局公共副颜色 */
	--publicSubColor:  #a7d676;
}
.bodyClass{
	background-image: linear-gradient(320deg,var(--publicMainColor),var(--publicSubColor));
	background-repeat: no-repeat;
    background-attachment: fixed;
}

/*开始==================================导航栏样式18=========================================开始*/
    .homeHeight{
        height: 92vh !important;
    }
    #iframe {
        width: 100%;
        margin-top: 60px;
        padding-top: auto;
    }
    #header {
        height: auto;
        background: #fff;
        border-bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    #header .nav-top {
        display: flex;
        align-items: center;
        padding: 0 20px;
        font-size: 16px;
        color: #2a8a15;
        box-sizing: border-box;
        height: 50px;
        background: #f7f7f7;
        box-shadow: 0 1px 6px rgba(0,0,0,.3);
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    #header .nav-top-img {
        width: 124px;
        height: 40px;
        padding: 0;
        margin: 0;
        border-radius: 6px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0,0,0,.3);
        box-shadow: 0 0 6px rgba(0,0,0,.3);
    }

    #header .nav-top-title {
        line-height: 40px;
        font-size: 16px;
        color: #333;
        padding: 0 10px;
        margin: 0 10px;
        border-radius: 6px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0,0,0,.3);
        background-color: rgba(0,0,0,0);
        box-shadow: 0 0 6px rgba(0,0,0,.3);
    }

    #header .nav-top-tel {
        line-height: 40px;
        font-size: 16px;
        color: #333;
        padding: 0 10px;
        margin: 0;
        border-radius: 6px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0,0,0,.3);
        box-shadow: 0 0 6px rgba(0,0,0,.3);
    }

    #header .navs {
        display: flex;
        padding: 0 20px;
        align-items: center;
        box-sizing: border-box;
        height: auto;
        background: #fff;
        box-shadow: 0 1px 6px rgba(0,0,0,0);
        justify-content: center;
    }
    #header .navs1 {
        width: 200px;
        height: 100vh;
        background: darkgoldenrod;
        position: absolute;
        top: 0;
        display: block;
        padding: 0;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #header .navs.navs1::-webkit-scrollbar {
        display: none;
    }

    #header .navs1 .list {
        display: flex;
        flex-direction: column;
    }
    #header .navs .title {
        width: auto;
        line-height: 40px;
        font-size: 28px;
        color: var(--publicMainColor);
        padding: 0 10px;
        margin: 0 5px;
        border-radius: 6px;
        border-width: 0;
        border-style: solid;
        border-color: rgba(0,0,0,.3);
        background-color: rgba(0,0,0,0);
        box-shadow: 0 0 6px rgba(0,0,0,0);
    }
    #header .navs li {
        display: inline-block;
        width: auto;
        line-height: 64px;
        padding: 0 15px;
        margin: 0;
        color: #333;
        font-size: 16px;
        border-radius: 0 50px ;
        border-width: 2px;
        border-style: solid;
        border-color: var(--publicMainColor);
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 0px rgba(0,0,0,.1);
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
    }
    #header .navs li a{
        color: inherit;
    }
    #header .navs li.current a{
        color: inherit;
    }
    #header .navs li a:hover{
        color: inherit;
    }
    #header .navs li.current {
        color: rgba(255, 255, 255, 1);
        font-size: 16px;
        border-radius: 0 50px;
        border-width: 2px;
        border-style: solid;
        border-color: var(--publicMainColor);
        background-color: var(--publicSubColor);
        box-shadow: 0 0 0px rgba(255,0,0,.8);
    }
    #header .navs li:hover {
        color: #fff;
        font-size: 16px;
        border-radius: 0 50px;
        border-width: 2px;
        border-style: solid;
        border-color: var(--publicMainColor);
        background-color: var(--publicSubColor);
        box-shadow: 0 0 0px rgba(0,0,0,.3);
    }
/*结束==================================导航栏样式18=========================================结束*/

/*layui下拉框边框颜色*/
.layui-unselect{
	border-color: var(--publicMainColor)
}

/*home页面数据样式 开始*/
	/*home页面数据样式 普通数据样式 开始*/
[class^='imghvr-'],
[class*=' imghvr-'] {
	position: relative;
	display: inline-block;
	margin: 0px;
	max-width: 100%;
	background-color:#141c27;
	color:#212121;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	cursor: pointer;
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
	vertical-align: top;
	max-width: 100%;
}
[class^='imghvr-'] .agile-figcaption,
[class*=' imghvr-'] .agile-figcaption {
	background-color:var(--publicMainColor,orange);
	padding:5.5em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color:#212121;
	text-align: center;
}
[class^='imghvr-'] .agile-figcaption h4 {
	font-size: 2em;
	margin-bottom: .5em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 20%;
}
[class^='imghvr-'] .agile-figcaption p{
	line-height:2em;
	color:#ebe8e8;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
[class^='imghvr-'],
[class*=' imghvr-'],
[class^='imghvr-']:before,
[class^='imghvr-']:after,
[class*=' imghvr-']:before,
[class*=' imghvr-']:after,
[class^='imghvr-'] *,
[class*=' imghvr-'] *,
[class^='imghvr-'] *:before,
[class^='imghvr-'] *:after,
[class*=' imghvr-'] *:before,
[class*=' imghvr-'] *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	-moz-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
[class^='imghvr-hinge-'],
[class*=' imghvr-hinge-'] {
	-webkit-perspective: 50em;
	perspective: 50em;
}
[class^='imghvr-hinge-'] .agile-figcaption,
[class*=' imghvr-hinge-'] .agile-figcaption {
	opacity: 0;
	z-index: 1;
}
[class^='imghvr-hinge-']:hover img,
[class*=' imghvr-hinge-']:hover img {
	opacity: 0;
}
[class^='imghvr-hinge-']:hover .agile-figcaption,
[class*=' imghvr-hinge-']:hover .agile-figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.21s;
	-moz-transition-delay: 0.21s;
	-o-transition-delay: 0.21s;
	-ms-transition-delay: 0.21s;
	transition-delay: 0.21s;
}

.imghvr-hinge-right img {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}
.imghvr-hinge-right .agile-figcaption {
	-webkit-transform: rotateY(90deg);
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform: rotateY(90deg);
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
.imghvr-hinge-right:hover > img {
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
}
.imghvr-hinge-right:hover .agile-figcaption {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
	/*home页面数据样式 普通数据样式 结束*/
/*home页面数据样式 结束*/

/*list页面数据样式 开始*/
	/*list页面数据样式 普通数据样式 开始*/

	.team14 .img-text p {
		color: #fff;
		margin: 12px 0;
		font-size: 12px;
		line-height: 22px;
	}
	.team14 .img-text {
		position: absolute;
		top: -50%;
		padding: 1.5em 2em 0;
		text-align: center;
		width: 90%;
		-webkit-transition: .5s all;
		transition: .5s all;
		-moz-transition: .5s all;
	}
	.team14 .img-caption::before {
		content: '';
		position: absolute;
		z-index: 0;
		top: -50%;
//		left: 14px;
		width: 100%;
		border: 128px solid rgba(39, 39, 39, 0.71);
		border-bottom: 45px solid transparent;
		height: 60%;
		-webkit-transition: .5s all;
		transition: .5s all;
		-moz-transition: .5s all;
	}
	.team14 .team-grids:hover div.img-text {
		top: 0%;
	}
	.team14 .team-grids:hover div.img-caption::before {
		top: 0;
	}
	/*list页面数据样式 普通数据样式 结束*/
/*list页面数据样式 结束*/

/*鼠标移入样式 开始*/
.animation-box:hover {
    transform: perspective(1000px) translate3d(0px, -10px, 0px) scale(1) rotate(0deg) skew(0deg, 0deg);
    transition: all 0.3s;
}/*鼠标移入样式 结束*/


/* 主页 轮播图选择框颜色 主*/
#test1 .layui-carousel-ind li.layui-this {
	background-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 6px var(--publicMainColor, #808080);
}
/* 个人中心轮播图 */
#swiper .layui-carousel-ind li.layui-this {
	background-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 6px var(--publicMainColor, #808080);
}

/* 大部分颜色 主 */
.main_color {
	color: var(--publicMainColor, #808080);
}
/* 边框颜色 主 */
.main_borderColor{
	border-color: var(--publicMainColor, #808080);
}
/* 背景颜色 主 */
.main_backgroundColor {
	background-color: var(--publicMainColor, #808080);
}
/* 登录页面单选按钮颜色 主 */
.l-redio .layui-form-radioed>i {
	font-size: 16px;
	color: var(--publicMainColor, #808080);
}
.l-redio .layui-form-radioed>div {
	font-size: 14px;
	color: var(--publicMainColor, #808080);
}

/* 大部分颜色 副 */
.sub_color {
	color: var(--publicSubColor, #808080);
}
/* 边框颜色 副 */
.sub_borderColor{
	border-color: var(--publicSubColor, #808080);
	box-shadow: 0 0 6px var(--publicSubColor, #808080);
}
/* 背景颜色 副 */
.sub_backgroundColor {
	background-color: var(--publicSubColor, #808080);
}

/* 分页颜色 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: var(--publicMainColor, #808080);
}

/* 评论和简介背景颜色 */
.detail-tab .layui-tab-card>.layui-tab-title .layui-this {
	background-color: var(--publicMainColor, #808080);
	color: #fff;
	font-size: 14px;
}
#swiper .layui-carousel-ind li.layui-this {
	background-color: var(--publicMainColor, #808080);
}

/* 个人中心 菜单点击颜色*/
.center-container .layui-nav-tree .layui-nav-item.layui-this {
	background-color: var(--publicSubColor, #808080);
}
/*个人中心 菜单鼠标移上颜色*/
.center-container .layui-nav-tree .layui-nav-item:hover {
	background-color:var(--publicMainColor, #808080);
}
/*个人中心 菜单下线颜色*/
.center-container .layui-nav-tree .layui-nav-item {
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}
/*个人中心 输入框中字体颜色和边框颜色*/
.right-container .input .layui-input {
	color: var(--publicMainColor, #808080);
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}
/*个人中心 下拉框中字体颜色和边框颜色*/
.right-container .select .layui-input {
	color: var(--publicMainColor, #808080);
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}
/*个人中心 未知颜色*/
.right-container .date .layui-input {
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}

/* 前台elementUI得下拉框内容颜色和边框颜色修改 */
/* start */
.el-select-dropdown__item.selected {
	color: var(--publicMainColor, #808080);
	font-weight: bold;
}
.el-select .el-input.is-focus .el-input__inner {
	border-color: var(--publicMainColor, #808080);
}
.el-input--suffix .el-input__inner{
	color:var(--publicMainColor, #808080);
	border-color: var(--publicMainColor, #808080);
}
.el-select .el-input__inner:focus {
	border-color: var(--publicMainColor, #808080);
}
/* end */
/*=====================富文本框字体样式===========================================================================*/

.ql-size-small {
	font-size: 10px;
}
.ql-size-large {
	font-size: 18px;
}
.ql-size-huge {
	font-size: 32px;
}